<%- include("../partials/imports.ejs") %>

<section class="p-10 flex flex-col items-center h-full w-full justify-center text-center text-[#131176] bg-[#eee]">
    <div>
        <h1 class="text-9xl font-extrabold text-center pb-5">Welcome</h1>
        <p class="text-6xl font-extrabold"><%=new Date(Date.now()).toDateString() %> </p>
    </div>
</section>