<section class="w-[15%] border-r shadow-md h-full">
    <div class="flex flex-col h-full">
        <div class="text-center text-8xl text-[#131176] p-10">
            <i class="fa-solid fa-user-gear"></i>
        </div>
        
            <nav>
                <ul>
                    <li class="border-y text-center text-xl font-bold py-3">
                        <a href="/employee">
                            Employees
                        </a>
                    </li>
                    <li class="border-y text-center text-xl font-bold py-3">
                        <a href="/logs">
                            Time Logs
                        </a>
                    </li>
                    <li class="border-y text-center text-xl font-bold py-3">
                        <a href="/timesheet">
                            Timesheet
                        </a>
                    </li>
                    <li class="border-y text-center text-xl font-bold py-3">
                        <a href="/departments">
                            Departments
                        </a>
                    </li>
                    <li class="border-y text-center text-xl font-bold py-3">
                        <a href="/payroll">
                            Payroll
                        </a>
                    </li>
                    
                    <li class=" text-center text-xl font-bold py-3 bg-red-600 text-white hover:bg-red-500">
                        <a href="/logout/user-out" class="flex items-center gap-3 justify-center">
                            <i class="fa-solid fa-power-off"></i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="magic flex justify-center items-center flex-auto relative bg-[#131176]">
                <h1 class="text-8xl text-white font-extrabold">S.</h1>
            </div>
    </div>
</section>
