<%- include("../partials/imports.ejs") %>
<section class="flex h-full overflow-hidden">
	<%- include("../partials/sidebar.ejs") %> 
		<span class="w-full overflow-y-scroll">
			<%- body %>
		</span>
</section>