<%- include("./partials/imports.ejs") %>
<section class="flex justify-center items-center h-full">
    <div class="text-center">
        <i class="fa-solid fa-face-sad-cry text-5xl mb-10 text-red-600"></i>
        <h1 class="text-3xl font-bold text-red-500">There has been an Error!</h1>
        <div>
            <h3 class="text-red-500 text-2xl"><%= error %> </h3>
        </div>
    </div>
</section>